<div class="small-header">
  <div class="small-header">
    <div class="hpanel">
      <div class="panel-body">
        <div id="hbreadcrumb" class="pull-right">
          <ol class="hbreadcrumb breadcrumb">
            <li>
              <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li>
              <a [routerLink]="['/projects/project-profile',uid]">My Project</a>
            </li>
            <li class="active">
              <span>Edit a Project </span>
            </li>
          </ol>
        </div>
        <h2 class="font-light m-b-xs">
          Edit Project: {{my_project.pid}}
        </h2>
      </div>
    </div>
  </div>

  <div class="content" *ngIf="my_project?.oid == 0 && user_is_supervisor == false">
    <div class="row">

      <div class="col-md-12">

        <div class="hpanel">
          <div class="panel-body">
            <h3>It looks like you do not have the permission to edit this project :(</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content" *ngIf="user_is_owner|| user_is_supervisor==true">

    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">

          <div class="panel-body">

            <form (ngSubmit)="save()" #projectForm="ngForm">


              <div class="text-center m-b-md" id="wizardControl">


              </div>

              <div class="tab-content">
                <div *ngIf="steps==1" [ngClass]="{'active':steps==1}" class="p-m tab-pane">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="form-group col-lg-12" [ngClass]="{'has-error': (v_pname.touched || v_pname.dirty) && !v_pname.valid}">
                          <label>Project Title *</label>
                          <span class="text-danger" *ngIf="(v_pname.touched || v_pname.dirty) && v_pname.errors?.required">
                          <i class="fa fa-exclamation-triangle"></i> Please enter a Project Title</span>
                          <span class="text-danger" *ngIf="(v_pname.touched || v_pname.dirty) && v_pname.errors?.minlength">
                          <i class="fa fa-exclamation-triangle"></i> Please enter minimum 10 character</span>
                          <input #v_pname="ngModel" required minlength="10" [(ngModel)]='my_project.name' type="text" class="form-control" placeholder='my_project.name'
                                 name="name" id='titlename'>
                        </div>
                        <div class="form-group col-lg-6">
                          <label>Number of Members *</label>
                          <span class="text-danger" *ngIf="sizeneeded">
                          <i class="fa fa-exclamation-triangle"></i> Please select team size </span>
                          <br>
                          <div *ngFor="let number of my_project.size" class="col-lg-3">
                            <div class="checkbox checkbox-info checkbox-inline">
                              <input (click)="selectsize(name)" type="checkbox" [(ngModel)]='number.value' [name]="number.label">
                              <label> {{number.label}} </label>
                            </div>
                          </div>
                        </div>
                        <div  class="form-group col-lg-6">
                          <label>Status *<small>(only supervisor can change the status)</small></label>
                          <br>
                          <span class="text-danger" *ngIf="statusneeded">
                          <i class="fa fa-exclamation-triangle"></i> Please select project status </span>
                          <div *ngFor="let status of my_project.status" class="col-lg-3">
                            <small *ngIf="user_is_supervisor">
                              <div class="checkbox checkbox-info checkbox-inline">
                                <input (click)="selectstatus(name)" type="checkbox" [(ngModel)]='status.value' [name]="status.label">
                                <label> {{status.label}} </label>
                              </div></small>
                            <small *ngIf="!user_is_supervisor">
                              <div class="checkbox checkbox-info checkbox-inline">
                                <input disabled (click)="selectstatus(name)" type="checkbox" [(ngModel)]='status.value' [name]="status.label">
                                <label> {{status.label}} </label>
                              </div></small>
                          </div>
                        </div>



                        <div class="form-group col-lg-12" [ngClass]="{'has-error': (v_pabs.touched || v_pabs.dirty) && !v_pabs.valid}">
                          <label>Project Abstract *</label>
                          <span class="text-danger" *ngIf="(v_pabs.touched || v_pabs.dirty) && v_pabs.errors?.required">
                          <i class="fa fa-exclamation-triangle"></i> Please enter a Short Description</span>
                          <span class="text-danger" *ngIf="(v_pabs.touched || v_pabs.dirty) && v_pabs.errors?.minlength">
                          <i class="fa fa-exclamation-triangle"></i> Please enter minimum 50 character</span>
                          <textarea style="resize:none;" #v_pabs="ngModel" required minlength="50" rows="6" required maxlength="1000" [(ngModel)]='my_project.abs'
                                    type="text" class="form-control" placeholder="Minimin 50, Maximum 1000 characters, please enter full details in Description below"
                                    name="abs" id="abstract"></textarea>

                        </div>


                        <div class="form-group col-lg-12">
                          <label class="control-label">Related Areas *</label>
                          <span class="text-danger" *ngIf="areaneeded">
                          <i class="fa fa-exclamation-triangle"></i> Please select at least one Related Area </span>
                          <br>
                          <div *ngFor="let area of my_project.areas" class="col-lg-3">
                            <div class="checkbox checkbox-info checkbox-inline">
                              <input type="checkbox" [(ngModel)]='area.value' [name]="area.tag_name">
                              <label> {{area.tag_name}} </label>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-12" [ngClass]="{'has-error': (v_plongdes.touched || v_plongdes.dirty) && !v_plongdes.valid}">
                          <div class="hpanel">
                            <label>Description *</label>
                            <span class="text-danger" *ngIf="(v_plongdes.touched || v_plongdes.dirty) && v_plongdes.errors?.required">
                          <i class="fa fa-exclamation-triangle"></i> Please enter a Detailed Description</span>
                            <span class="text-danger" *ngIf="(v_plongdes.touched || v_plongdes.dirty) && v_plongdes.errors?.minlength">
                          <i class="fa fa-exclamation-triangle"></i> Please enter minimum 50 character</span>
                            <textarea style="resize:none;" #v_plongdes="ngModel" required minlength="50" rows="10" required maxlength="2000" id="longdes" [(ngModel)]='my_project.about'
                                      type="text" class="form-control" placeholder="Minimin 50, Maximum 2000 characters, please enter full details in Description below"
                                      name="about"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="text-right m-t-xs">

                  <a class="btn btn-info" [ngClass]="{'disabled':!projectForm.valid}" *ngIf="steps==1" (click)="getData()">Submit</a>

                </div>

              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
